{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1 style="margin-left: 2%;">Вход</h1>
</div>


<div class="card-body">
    <form method="POST">

        {% if form.errors %}
        <div style="color: red; font-weight:bold;">Имя или пароль не верны. Повторите попытку.</div>
        {% endif %}

        {% csrf_token %}


        <div class="form_grup">
            <label>Имя пользователя</label>
            <input class="form_input" type="text" name="username" value="" id="username">
        </div>
        <div class="form_grup">
            <label>Пароль</label>
            <input class="form_input" type="password" name="password" value="" id="password">
        </div>

        <input class="button" type="submit" value="Войти">
    </form>
    <p>Ещё не зарегистрированы? <a href="{% url 'register' %}">Зарегистрироваться</a></p>

</div>

{% endblock content %}

